.nav-hover {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #017020 !important;
  position: relative;
  padding-bottom: 5px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}

.nav-hover::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ff9900;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.nav-hover:hover::after {
  width: 100%;
}

.nav-hover:hover {
  color: #ff9900 !important;
}

/* Sticky Navbar */
.custom-navbar {
  position: sticky;
  top: 0;
  z-index: 1030;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Announcement Bar */
.announcement-bar a {
  transition: color 0.3s ease-in-out;
}

.announcement-bar a:hover {
  color: #ff9900;
}

